.racer_table td.player1 {
  background-color: black;
}

.racer_table td.player2 {
  background-color: red;
}

.racer_table td {
  background-color: white;
  height: 10em;
  width: 2em;
  border: 1px solid black;
}

.general_container {
  margin: 1%;
}
